# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# QT Creator
*.creator
*.config
*.files
*.includes
*.user
*.autosave

.DS_Store
@eaDir/
.d/
bin/
*.log
output/
*.png
*.mp2
*.mpg
*.cpio

# vim
*.swp
*.swo
